extends layout

block content
  #container
    #intro
      #pageHeader
        h1
          =titolo
      | &#x9;&#x9;
      #preamble
        h3
          span What is RottenBooks Search?
        p.p1
          span  With RottenBooksSearch you can find all information about your favourite film
        h3
          span Search
        p.p1
         form( id="form" name="search", action="search", method="post")
            input(type="text", name="user")
            br
            input(type="submit", value="Cerca")
            br
            h3
                = cerca
            if films.length>0
                 table
                    tr
                        td
                            h3 Poster
                        td
                            h3 Titolo
                        td
                            h3 Anno
                        td
                            h3 Critics Score
                        td
                            h3 Audience Score

                     for film in films
                        tr
                            td
                                a(href="#{film.poster}")
                                    img(src="#{film.poster}", width=100)
                            td
                                = film.title
                            td
                                = film.year
                            td
                                = film.criticsScore
                            td
                                = film.audienceScore
        h3
          span Politecnico Di Milano
    br
    br


